/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles here */
.seminar-button {
    background-color: #004d00; /* Dark green */
    color: #ccffcc; /* Light green text */
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .seminar-button:hover {
    background-color: #003300; /* Slightly darker green */
  }
  