---
// src/components/Footer.astro
---

<section class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800">
    <div class="container flex flex-col items-center py-8 mx-auto px-20 max-w-7xl sm:flex-row justify-center">
      <a href="https://www.glintlab.org/" class="h-5 text-base group relative z-30 items-center flex space-x-1.5 text-black dark:text-white" style="font-family: Avenir">
        <span class="group-hover:-rotate-12 group-hover:scale-[1.1] ease-in-out duration-300">
          <!-- SVG Logo Here -->
        </span>
      </a>
    </div>
  </section>