<!doctype html>
<html lang="en">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-JYN7X6HJZL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JYN7X6HJZL');
  </script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tom_headshot.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Tommaso Sgrizzi</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>


